modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35007
externalPort = 5000

[[ports]]
localPort = 35919
externalPort = 5173

[[ports]]
localPort = 36597
externalPort = 8008

[[ports]]
localPort = 36721
externalPort = 3000

[[ports]]
localPort = 36957
externalPort = 3001

[[ports]]
localPort = 37461
externalPort = 6000

[[ports]]
localPort = 37567
externalPort = 3002

[[ports]]
localPort = 37837
externalPort = 8081

[[ports]]
localPort = 39821
externalPort = 3003

[[ports]]
localPort = 40045
externalPort = 9000

[[ports]]
localPort = 40691
externalPort = 8080

[[ports]]
localPort = 41531
externalPort = 4200

[[ports]]
localPort = 43509
externalPort = 8000

[[ports]]
localPort = 44799
externalPort = 8099

[[ports]]
localPort = 45271
externalPort = 6800

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
